name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  CI_Ubuntu:
    name: Building Drakhtar Internationalization (${{ matrix.os }}, ${{ matrix.configuration }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        configuration: [Debug, Release]
    if: "!contains(needs.pre_ci.outputs.commit_message, '[skip ci]')"
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install cmake

      - uses: ammaraskar/gcc-problem-matcher@master
      - name: Build Project
        run: |
          cmake -B build
          cmake --build build --config ${{ matrix.configuration }}

  CI_Windows:
    name: Building Drakhtar Internationalization (${{ matrix.os }}, ${{ matrix.configuration }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        configuration: [Debug, Release]
    if: "!contains(needs.pre_ci.outputs.commit_message, '[skip ci]')"
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2

      - uses: ammaraskar/gcc-problem-matcher@master
      - name: Build Project
        run: |
          cmake -B build -DBUILD_GMOCK=OFF -DI18N_BUILD_TESTS=ON -DI18N_LANGUAGE_ALL=ON
          cmake --build build --config ${{ matrix.configuration }}

      - name: Run Tests
        run: |
          cd build
          ctest --build-config ${{ matrix.configuration }} --output-on-failure

  Formatting:
    name: clang-format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        id: checkout
        uses: actions/checkout@v2

      - name: Check Formatting
        id: formatting
        uses: DoozyX/clang-format-lint-action@v0.11
        with:
          source: 'src'
          extensions: 'h,cpp,c,hpp'
          clangFormatVersion: 10
          inplace: True
          style: file

      - name: Confirm Results
        id: results
        run: scripts/ci-diff.sh

      - name: Upload Patch
        uses: actions/upload-artifact@v1
        if: ${{ failure() }}
        with:
          name: clang-format-patch
          path: artifacts/clang-format.patch
